/* Header */
body {
    padding-top: 4.125em;
}

#header {
    background: #1c1c1c;
    color: rgba(255, 255, 255, 0.75);
    cursor: default;
    height: 4.25em;
    left: 0;
    line-height: 4.25em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 10001;
}

    #header .logo {
        display: inline-block;
        height: inherit;
        left: 1.25em;
        line-height: inherit;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        color: #fff;
        font-size: 1.25em;
        text-decoration: none;
    }

        #header .logo strong {
            color: inherit;
            font-weight: 700;
        }

    #header nav a {
        -moz-transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        display: inline-block;
        padding: 0 0.75em;
        color: inherit;
        text-decoration: none;
    }

        #header nav a:hover {
            color: #fff;
        }

        #header nav a[href="#menu"] {
            text-decoration: none;
            -webkit-tap-highlight-color: transparent;
        }

            #header nav a[href="#menu"]:before {
                content: "";
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-transform: none !important;
            }

            #header nav a[href="#menu"]:before {
                margin: 0 0.5em 0 0;
            }

        #header nav a + a[href="#menu"]:last-child {
            border-left: solid 1px rgba(255, 255, 255, 0.25);
            padding-left: 1.25em;
            margin-left: 0.5em;
        }

        #header nav a:last-child {
            padding-right: 1.25em;
        }

        @media screen and (max-width: 736px) {

            #header nav a {
                padding: 0 0.5em;
            }

                #header nav a + a[href="#menu"]:last-child {
                    padding-left: 1em;
                    margin-left: 0.25em;
                }

                #header nav a:last-child {
                    padding-right: 1em;
                }

        }

@media screen and (max-width: 980px) {

    body {
        padding-top: 44px;
    }

    #header {
        height: 44px;
        line-height: 44px;
    }

        #header .logo {
            left: 1em;
            font-size: 1em;
        }

}

@media screen and (max-width: 480px) {

    #header {
        min-width: 320px;
    }

}
