@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,700,300italic,700italic");

body {
    background-color: #1c1c1c;
    color: #444;
}

body, input, select, textarea {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.75;
}

    @media screen and (max-width: 1680px) {

        body, input, select, textarea {
            font-size: 13pt;
        }

    }

    @media screen and (max-width: 1280px) {

        body, input, select, textarea {
            font-size: 12pt;
        }

    }

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Bebas Neue;
    font-weight: 700;
    line-height: 1.25;
    margin: 0 0 1em 0;
}

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        color: inherit;
    }

h1 {
    font-size: 2.35em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.35em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

blockquote {
    border-left: solid 4px;
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}

code {
    border-radius: 0;
    border: solid 1px;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

    pre code {
        display: block;
        line-height: 1.75;
        padding: 1em 1.5em;
        overflow-x: auto;
    }

hr {
    border: 0;
    border-bottom: solid 1px;
    margin: 2em 0;
}

    hr.major {
        margin: 3em 0;
    }

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

input, select, textarea {
    color: #555;
}

a {
    color: #1abc9c;
}

strong, b {
    color: #555;
}

h1, h2, h3, h4, h5, h6 {
    color: #555;
}

blockquote {
    border-left-color: rgba(144, 144, 144, 0.25);
}

code {
    background: rgba(144, 144, 144, 0.075);
    border-color: rgba(144, 144, 144, 0.25);
}

hr {
    border-bottom-color: rgba(144, 144, 144, 0.25);
}

/* Main */

#main {
    padding: 1em 0 1em 0;
}

    #main .inner {
        max-width: 60em;
        margin: 0 auto;
    }
    #main .listing {
        max-width: 80em;
        margin: 0 auto;
    }

        #main .inner header p {
            font-size: 1em;
            font-style: italic;
            border-top: 1px solid rgba(144, 144, 144, 0.25);
            border-bottom: 1px solid rgba(144, 144, 144, 0.25);
            padding: .5em 0;
        }

    @media screen and (max-width: 980px) {

        #main {
            padding: 1.5em 0 1em 0;
        }

            #main .inner {
                width: 90%;
            }

    }

.post {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-flex-align: stretch;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    -ms-flex-pack: end;
    min-height: -webkit-calc(100vh - 4.25em);
    min-height: -moz-calc(100vh - 4.25em);
    min-height: calc(100vh - 4.25em);
    position: relative;
}

    body.is-ie .post {
        min-height: 0;
    }

    .post .content {
        -moz-transition: background 0.2s ease-in-out;
        -webkit-transition: background 0.2s ease-in-out;
        -ms-transition: background 0.2s ease-in-out;
        transition: background 0.2s ease-in-out;
        -moz-order: 1;
        -webkit-order: 1;
        -ms-order: 1;
        order: 1;
        width: 50%;
        display: block;
        background: #FFF;
        padding: 8em;
        text-align: right;
        position: relative;
    }

        .post .content:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em;
        /* Adjusts for spacing */
    }

        .post .content .inner {
            display: inline-block;
            vertical-align: middle;
        }

        .post .content header h2 {
            font-size: 2.35em;
        }

        .post .content header p {
            font-size: 1em;
            font-style: italic;
            border-top: 1px solid rgba(144, 144, 144, 0.25);
            border-bottom: 1px solid rgba(144, 144, 144, 0.25);
            padding: .5em 0;
        }

        .post .content .button {
            margin: 0;
        }

        .post .content .postnav {
            position: absolute;
            left: 2em;
            bottom: 2em;
        }

            .post .content .postnav .prev, .post .content .postnav .next {
                text-decoration: none;
                display: block;
                border: 1px solid rgba(144, 144, 144, 0.25);
                width: 2em;
                height: 2em;
                line-height: 2em;
                text-align: center;
            }

                .post .content .postnav .prev:hover, .post .content .postnav .next:hover {
                    background: rgba(144, 144, 144, 0.075);
                }

                .post .content .postnav .prev.disabled, .post .content .postnav .next.disabled {
                    color: #bbb;
                    pointer-events: none;
                }

            .post .content .postnav .prev {
                border-bottom: none;
            }

    .post .image {
        -ms-flex-order: 2;
        -moz-order: 2;
        -webkit-order: 2;
        -ms-order: 2;
        order: 2;
        width: 50%;
        display: block;
        margin: 0;
        position: relative;
        overflow: hidden;
        background-color: #ffffff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

        .post .image img {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: auto;
            display: none;
        }

    .post.alt .content {
        -ms-flex-order: 2;
        -moz-order: 2;
        -webkit-order: 2;
        -ms-order: 2;
        order: 2;
        text-align: left;
    }

        .post.alt .content .postnav {
            right: 2em;
            left: initial;
        }

            @media screen and (max-width: 1280px) {

                .post.alt .content .postnav {
                    right: 1em;
                }

            }

    .post.alt .image {
        -ms-flex-order: 1;
        -moz-order: 1;
        -webkit-order: 1;
        -ms-order: 1;
        order: 1;
    }

        .post.alt .image img {
            right: initial;
            left: 0;
        }

    .post.style1 {
        background-color: #fff;
        color: #444;
    }

        .post.style1 input, .post.style1 select, .post.style1 textarea {
            color: #1abc9c;
        }

        .post.style1 a {
            color: #1abc9c;
        }

        .post.style1 strong, .post.style1 b {
            color: #1abc9c;
        }

        .post.style1 h1, .post.style1 h2, .post.style1 h3, .post.style1 h4, .post.style1 h5, .post.style1 h6 {
            color: #1abc9c;
        }

        .post.style1 blockquote {
            border-left-color: rgba(144, 144, 144, 0.25);
        }

        .post.style1 code {
            background: rgba(144, 144, 144, 0.075);
            border-color: rgba(144, 144, 144, 0.25);
        }

        .post.style1 hr {
            border-bottom-color: rgba(144, 144, 144, 0.25);
        }

        .post.style1 input[type="submit"],
        .post.style1 input[type="reset"],
        .post.style1 input[type="button"],
        .post.style1 button,
        .post.style1 .button {
            background-color: #1abc9c;
            color: #fff !important;
        }

            .post.style1 input[type="submit"]:hover,
            .post.style1 input[type="reset"]:hover,
            .post.style1 input[type="button"]:hover,
            .post.style1 button:hover,
            .post.style1 .button:hover {
                background-color: #1dd2af;
            }

            .post.style1 input[type="submit"]:active,
            .post.style1 input[type="reset"]:active,
            .post.style1 input[type="button"]:active,
            .post.style1 button:active,
            .post.style1 .button:active {
                background-color: #17a689;
            }

            .post.style1 input[type="submit"].alt,
            .post.style1 input[type="reset"].alt,
            .post.style1 input[type="button"].alt,
            .post.style1 button.alt,
            .post.style1 .button.alt {
                background-color: transparent;
                box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
                color: #1abc9c !important;
            }

                .post.style1 input[type="submit"].alt:hover,
                .post.style1 input[type="reset"].alt:hover,
                .post.style1 input[type="button"].alt:hover,
                .post.style1 button.alt:hover,
                .post.style1 .button.alt:hover {
                    background-color: rgba(144, 144, 144, 0.075);
                }

                .post.style1 input[type="submit"].alt:active,
                .post.style1 input[type="reset"].alt:active,
                .post.style1 input[type="button"].alt:active,
                .post.style1 button.alt:active,
                .post.style1 .button.alt:active {
                    background-color: rgba(144, 144, 144, 0.2);
                }

                .post.style1 input[type="submit"].alt.icon:before,
                .post.style1 input[type="reset"].alt.icon:before,
                .post.style1 input[type="button"].alt.icon:before,
                .post.style1 button.alt.icon:before,
                .post.style1 .button.alt.icon:before {
                    color: #bbb;
                }

            .post.style1 input[type="submit"].special,
            .post.style1 input[type="reset"].special,
            .post.style1 input[type="button"].special,
            .post.style1 button.special,
            .post.style1 .button.special {
                background-color: #1abc9c;
                color: #fff !important;
            }

        .post.style1.invert {
            background-color: #1abc9c;
            color: rgba(255, 255, 255, 0.75);
        }

            .post.style1.invert input, .post.style1.invert select, .post.style1.invert textarea {
                color: #fff;
            }

            .post.style1.invert a {
                color: #fff;
            }

            .post.style1.invert strong, .post.style1.invert b {
                color: #fff;
            }

            .post.style1.invert h1, .post.style1.invert h2, .post.style1.invert h3, .post.style1.invert h4, .post.style1.invert h5, .post.style1.invert h6 {
                color: #fff;
            }

            .post.style1.invert blockquote {
                border-left-color: rgba(255, 255, 255, 0.25);
            }

            .post.style1.invert code {
                background: rgba(255, 255, 255, 0.075);
                border-color: rgba(255, 255, 255, 0.25);
            }

            .post.style1.invert hr {
                border-bottom-color: rgba(255, 255, 255, 0.25);
            }

            .post.style1.invert input[type="submit"],
            .post.style1.invert input[type="reset"],
            .post.style1.invert input[type="button"],
            .post.style1.invert button,
            .post.style1.invert .button {
                background-color: #fff;
                color: #1abc9c !important;
            }

                .post.style1.invert input[type="submit"].alt,
                .post.style1.invert input[type="reset"].alt,
                .post.style1.invert input[type="button"].alt,
                .post.style1.invert button.alt,
                .post.style1.invert .button.alt {
                    background-color: transparent;
                    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
                    color: #fff !important;
                }

                    .post.style1.invert input[type="submit"].alt:hover,
                    .post.style1.invert input[type="reset"].alt:hover,
                    .post.style1.invert input[type="button"].alt:hover,
                    .post.style1.invert button.alt:hover,
                    .post.style1.invert .button.alt:hover {
                        background-color: rgba(255, 255, 255, 0.075);
                    }

                    .post.style1.invert input[type="submit"].alt:active,
                    .post.style1.invert input[type="reset"].alt:active,
                    .post.style1.invert input[type="button"].alt:active,
                    .post.style1.invert button.alt:active,
                    .post.style1.invert .button.alt:active {
                        background-color: rgba(255, 255, 255, 0.2);
                    }

                    .post.style1.invert input[type="submit"].alt.icon:before,
                    .post.style1.invert input[type="reset"].alt.icon:before,
                    .post.style1.invert input[type="button"].alt.icon:before,
                    .post.style1.invert button.alt.icon:before,
                    .post.style1.invert .button.alt.icon:before {
                        color: rgba(255, 255, 255, 0.5);
                    }

                .post.style1.invert input[type="submit"].special,
                .post.style1.invert input[type="reset"].special,
                .post.style1.invert input[type="button"].special,
                .post.style1.invert button.special,
                .post.style1.invert .button.special {
                    background-color: #fff;
                    color: #1abc9c !important;
                }

            .post.style1.invert .content {
                background: #1abc9c;
            }

                .post.style1.invert .content header p {
                    color: rgba(255, 255, 255, 0.5);
                    border-top: 1px solid rgba(255, 255, 255, 0.25);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                }

                .post.style1.invert .content .postnav .prev, .post.style1.invert .content .postnav .next {
                    border: 1px solid rgba(255, 255, 255, 0.25);
                }

                    .post.style1.invert .content .postnav .prev:hover, .post.style1.invert .content .postnav .next:hover {
                        background: rgba(255, 255, 255, 0.075);
                    }

                    .post.style1.invert .content .postnav .prev.disabled, .post.style1.invert .content .postnav .next.disabled {
                        color: rgba(255, 255, 255, 0.5);
                    }

            .post.style1.invert .image {
                background-color: #1abc9c;
            }

    .post.style2 {
        background-color: #fff;
        color: #444;
    }

        .post.style2 input, .post.style2 select, .post.style2 textarea {
            color: #3498db;
        }

        .post.style2 a {
            color: #3498db;
        }

        .post.style2 strong, .post.style2 b {
            color: #3498db;
        }

        .post.style2 h1, .post.style2 h2, .post.style2 h3, .post.style2 h4, .post.style2 h5, .post.style2 h6 {
            color: #3498db;
        }

        .post.style2 blockquote {
            border-left-color: rgba(144, 144, 144, 0.25);
        }

        .post.style2 code {
            background: rgba(144, 144, 144, 0.075);
            border-color: rgba(144, 144, 144, 0.25);
        }

        .post.style2 hr {
            border-bottom-color: rgba(144, 144, 144, 0.25);
        }

        .post.style2 input[type="submit"],
        .post.style2 input[type="reset"],
        .post.style2 input[type="button"],
        .post.style2 button,
        .post.style2 .button {
            background-color: #1abc9c;
            color: #fff !important;
        }

            .post.style2 input[type="submit"]:hover,
            .post.style2 input[type="reset"]:hover,
            .post.style2 input[type="button"]:hover,
            .post.style2 button:hover,
            .post.style2 .button:hover {
                background-color: #1dd2af;
            }

            .post.style2 input[type="submit"]:active,
            .post.style2 input[type="reset"]:active,
            .post.style2 input[type="button"]:active,
            .post.style2 button:active,
            .post.style2 .button:active {
                background-color: #17a689;
            }

            .post.style2 input[type="submit"].alt,
            .post.style2 input[type="reset"].alt,
            .post.style2 input[type="button"].alt,
            .post.style2 button.alt,
            .post.style2 .button.alt {
                background-color: transparent;
                box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
                color: #3498db !important;
            }

                .post.style2 input[type="submit"].alt:hover,
                .post.style2 input[type="reset"].alt:hover,
                .post.style2 input[type="button"].alt:hover,
                .post.style2 button.alt:hover,
                .post.style2 .button.alt:hover {
                    background-color: rgba(144, 144, 144, 0.075);
                }

                .post.style2 input[type="submit"].alt:active,
                .post.style2 input[type="reset"].alt:active,
                .post.style2 input[type="button"].alt:active,
                .post.style2 button.alt:active,
                .post.style2 .button.alt:active {
                    background-color: rgba(144, 144, 144, 0.2);
                }

                .post.style2 input[type="submit"].alt.icon:before,
                .post.style2 input[type="reset"].alt.icon:before,
                .post.style2 input[type="button"].alt.icon:before,
                .post.style2 button.alt.icon:before,
                .post.style2 .button.alt.icon:before {
                    color: #bbb;
                }

            .post.style2 input[type="submit"].special,
            .post.style2 input[type="reset"].special,
            .post.style2 input[type="button"].special,
            .post.style2 button.special,
            .post.style2 .button.special {
                background-color: #3498db;
                color: #fff !important;
            }

        .post.style2.invert {
            background-color: #3498db;
            color: rgba(255, 255, 255, 0.75);
        }

            .post.style2.invert input, .post.style2.invert select, .post.style2.invert textarea {
                color: #fff;
            }

            .post.style2.invert a {
                color: #fff;
            }

            .post.style2.invert strong, .post.style2.invert b {
                color: #fff;
            }

            .post.style2.invert h1, .post.style2.invert h2, .post.style2.invert h3, .post.style2.invert h4, .post.style2.invert h5, .post.style2.invert h6 {
                color: #fff;
            }

            .post.style2.invert blockquote {
                border-left-color: rgba(255, 255, 255, 0.25);
            }

            .post.style2.invert code {
                background: rgba(255, 255, 255, 0.075);
                border-color: rgba(255, 255, 255, 0.25);
            }

            .post.style2.invert hr {
                border-bottom-color: rgba(255, 255, 255, 0.25);
            }

            .post.style2.invert input[type="submit"],
            .post.style2.invert input[type="reset"],
            .post.style2.invert input[type="button"],
            .post.style2.invert button,
            .post.style2.invert .button {
                background-color: #1abc9c;
                color: #fff !important;
            }

                .post.style2.invert input[type="submit"]:hover,
                .post.style2.invert input[type="reset"]:hover,
                .post.style2.invert input[type="button"]:hover,
                .post.style2.invert button:hover,
                .post.style2.invert .button:hover {
                    background-color: #1dd2af;
                }

                .post.style2.invert input[type="submit"]:active,
                .post.style2.invert input[type="reset"]:active,
                .post.style2.invert input[type="button"]:active,
                .post.style2.invert button:active,
                .post.style2.invert .button:active {
                    background-color: #17a689;
                }

                .post.style2.invert input[type="submit"].alt,
                .post.style2.invert input[type="reset"].alt,
                .post.style2.invert input[type="button"].alt,
                .post.style2.invert button.alt,
                .post.style2.invert .button.alt {
                    background-color: transparent;
                    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
                    color: #fff !important;
                }

                    .post.style2.invert input[type="submit"].alt:hover,
                    .post.style2.invert input[type="reset"].alt:hover,
                    .post.style2.invert input[type="button"].alt:hover,
                    .post.style2.invert button.alt:hover,
                    .post.style2.invert .button.alt:hover {
                        background-color: rgba(255, 255, 255, 0.075);
                    }

                    .post.style2.invert input[type="submit"].alt:active,
                    .post.style2.invert input[type="reset"].alt:active,
                    .post.style2.invert input[type="button"].alt:active,
                    .post.style2.invert button.alt:active,
                    .post.style2.invert .button.alt:active {
                        background-color: rgba(255, 255, 255, 0.2);
                    }

                    .post.style2.invert input[type="submit"].alt.icon:before,
                    .post.style2.invert input[type="reset"].alt.icon:before,
                    .post.style2.invert input[type="button"].alt.icon:before,
                    .post.style2.invert button.alt.icon:before,
                    .post.style2.invert .button.alt.icon:before {
                        color: rgba(255, 255, 255, 0.5);
                    }

                .post.style2.invert input[type="submit"].special,
                .post.style2.invert input[type="reset"].special,
                .post.style2.invert input[type="button"].special,
                .post.style2.invert button.special,
                .post.style2.invert .button.special {
                    background-color: #fff;
                    color: #3498db !important;
                }

            .post.style2.invert .content {
                background: #3498db;
            }

                .post.style2.invert .content header p {
                    color: rgba(255, 255, 255, 0.5);
                    border-top: 1px solid rgba(255, 255, 255, 0.25);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                }

                .post.style2.invert .content .postnav .prev, .post.style2.invert .content .postnav .next {
                    border: 1px solid rgba(255, 255, 255, 0.25);
                }

                    .post.style2.invert .content .postnav .prev:hover, .post.style2.invert .content .postnav .next:hover {
                        background: rgba(255, 255, 255, 0.075);
                    }

                    .post.style2.invert .content .postnav .prev.disabled, .post.style2.invert .content .postnav .next.disabled {
                        color: rgba(255, 255, 255, 0.5);
                    }

            .post.style2.invert .image {
                background-color: #3498db;
            }

    .post.style3 {
        background-color: #fff;
        color: #444;
    }

        .post.style3 input, .post.style3 select, .post.style3 textarea {
            color: #9b59b6;
        }

        .post.style3 a {
            color: #9b59b6;
        }

        .post.style3 strong, .post.style3 b {
            color: #9b59b6;
        }

        .post.style3 h1, .post.style3 h2, .post.style3 h3, .post.style3 h4, .post.style3 h5, .post.style3 h6 {
            color: #9b59b6;
        }

        .post.style3 blockquote {
            border-left-color: rgba(144, 144, 144, 0.25);
        }

        .post.style3 code {
            background: rgba(144, 144, 144, 0.075);
            border-color: rgba(144, 144, 144, 0.25);
        }

        .post.style3 hr {
            border-bottom-color: rgba(144, 144, 144, 0.25);
        }

        .post.style3 input[type="submit"],
        .post.style3 input[type="reset"],
        .post.style3 input[type="button"],
        .post.style3 button,
        .post.style3 .button {
            background-color: #1abc9c;
            color: #fff !important;
        }

            .post.style3 input[type="submit"]:hover,
            .post.style3 input[type="reset"]:hover,
            .post.style3 input[type="button"]:hover,
            .post.style3 button:hover,
            .post.style3 .button:hover {
                background-color: #1dd2af;
            }

            .post.style3 input[type="submit"]:active,
            .post.style3 input[type="reset"]:active,
            .post.style3 input[type="button"]:active,
            .post.style3 button:active,
            .post.style3 .button:active {
                background-color: #17a689;
            }

            .post.style3 input[type="submit"].alt,
            .post.style3 input[type="reset"].alt,
            .post.style3 input[type="button"].alt,
            .post.style3 button.alt,
            .post.style3 .button.alt {
                background-color: transparent;
                box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
                color: #9b59b6 !important;
            }

                .post.style3 input[type="submit"].alt:hover,
                .post.style3 input[type="reset"].alt:hover,
                .post.style3 input[type="button"].alt:hover,
                .post.style3 button.alt:hover,
                .post.style3 .button.alt:hover {
                    background-color: rgba(144, 144, 144, 0.075);
                }

                .post.style3 input[type="submit"].alt:active,
                .post.style3 input[type="reset"].alt:active,
                .post.style3 input[type="button"].alt:active,
                .post.style3 button.alt:active,
                .post.style3 .button.alt:active {
                    background-color: rgba(144, 144, 144, 0.2);
                }

                .post.style3 input[type="submit"].alt.icon:before,
                .post.style3 input[type="reset"].alt.icon:before,
                .post.style3 input[type="button"].alt.icon:before,
                .post.style3 button.alt.icon:before,
                .post.style3 .button.alt.icon:before {
                    color: #bbb;
                }

            .post.style3 input[type="submit"].special,
            .post.style3 input[type="reset"].special,
            .post.style3 input[type="button"].special,
            .post.style3 button.special,
            .post.style3 .button.special {
                background-color: #9b59b6;
                color: #fff !important;
            }

        .post.style3.invert {
            background-color: #9b59b6;
            color: rgba(255, 255, 255, 0.75);
        }

            .post.style3.invert input, .post.style3.invert select, .post.style3.invert textarea {
                color: #fff;
            }

            .post.style3.invert a {
                color: #fff;
            }

            .post.style3.invert strong, .post.style3.invert b {
                color: #fff;
            }

            .post.style3.invert h1, .post.style3.invert h2, .post.style3.invert h3, .post.style3.invert h4, .post.style3.invert h5, .post.style3.invert h6 {
                color: #fff;
            }

            .post.style3.invert blockquote {
                border-left-color: rgba(255, 255, 255, 0.25);
            }

            .post.style3.invert code {
                background: rgba(255, 255, 255, 0.075);
                border-color: rgba(255, 255, 255, 0.25);
            }

            .post.style3.invert hr {
                border-bottom-color: rgba(255, 255, 255, 0.25);
            }

            .post.style3.invert input[type="submit"],
            .post.style3.invert input[type="reset"],
            .post.style3.invert input[type="button"],
            .post.style3.invert button,
            .post.style3.invert .button {
                background-color: #1abc9c;
                color: #fff !important;
            }

                .post.style3.invert input[type="submit"]:hover,
                .post.style3.invert input[type="reset"]:hover,
                .post.style3.invert input[type="button"]:hover,
                .post.style3.invert button:hover,
                .post.style3.invert .button:hover {
                    background-color: #1dd2af;
                }

                .post.style3.invert input[type="submit"]:active,
                .post.style3.invert input[type="reset"]:active,
                .post.style3.invert input[type="button"]:active,
                .post.style3.invert button:active,
                .post.style3.invert .button:active {
                    background-color: #17a689;
                }

                .post.style3.invert input[type="submit"].alt,
                .post.style3.invert input[type="reset"].alt,
                .post.style3.invert input[type="button"].alt,
                .post.style3.invert button.alt,
                .post.style3.invert .button.alt {
                    background-color: transparent;
                    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
                    color: #fff !important;
                }

                    .post.style3.invert input[type="submit"].alt:hover,
                    .post.style3.invert input[type="reset"].alt:hover,
                    .post.style3.invert input[type="button"].alt:hover,
                    .post.style3.invert button.alt:hover,
                    .post.style3.invert .button.alt:hover {
                        background-color: rgba(255, 255, 255, 0.075);
                    }

                    .post.style3.invert input[type="submit"].alt:active,
                    .post.style3.invert input[type="reset"].alt:active,
                    .post.style3.invert input[type="button"].alt:active,
                    .post.style3.invert button.alt:active,
                    .post.style3.invert .button.alt:active {
                        background-color: rgba(255, 255, 255, 0.2);
                    }

                    .post.style3.invert input[type="submit"].alt.icon:before,
                    .post.style3.invert input[type="reset"].alt.icon:before,
                    .post.style3.invert input[type="button"].alt.icon:before,
                    .post.style3.invert button.alt.icon:before,
                    .post.style3.invert .button.alt.icon:before {
                        color: rgba(255, 255, 255, 0.5);
                    }

                .post.style3.invert input[type="submit"].special,
                .post.style3.invert input[type="reset"].special,
                .post.style3.invert input[type="button"].special,
                .post.style3.invert button.special,
                .post.style3.invert .button.special {
                    background-color: #fff;
                    color: #9b59b6 !important;
                }

            .post.style3.invert .content {
                background: #9b59b6;
            }

                .post.style3.invert .content header p {
                    color: rgba(255, 255, 255, 0.5);
                    border-top: 1px solid rgba(255, 255, 255, 0.25);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                }

                .post.style3.invert .content .postnav .prev, .post.style3.invert .content .postnav .next {
                    border: 1px solid rgba(255, 255, 255, 0.25);
                }

                    .post.style3.invert .content .postnav .prev:hover, .post.style3.invert .content .postnav .next:hover {
                        background: rgba(255, 255, 255, 0.075);
                    }

                    .post.style3.invert .content .postnav .prev.disabled, .post.style3.invert .content .postnav .next.disabled {
                        color: rgba(255, 255, 255, 0.5);
                    }

            .post.style3.invert .image {
                background-color: #9b59b6;
            }

    @media screen and (max-width: 1280px) {

        .post .content {
            padding: 4em;
        }

            .post .content .postnav {
                left: 1em;
                bottom: 1em;
            }

    }

    @media screen and (max-width: 980px) {

        .post {
            -ms-flex-direction: column;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            height: auto;
            min-height: 0;
        }

            .post .image {
                -ms-flex-order: 1;
                -moz-order: 1;
                -webkit-order: 1;
                -ms-order: 1;
                order: 1;
                width: 100%;
                overflow: auto;
                background: none !important;
            }

                .post .image img {
                    position: relative;
                    width: 100%;
                    height: auto;
                    display: block;
                }

            .post .content {
                -ms-flex-order: 2;
                -moz-order: 2;
                -webkit-order: 2;
                -ms-order: 2;
                order: 2;
                width: 100%;
                text-align: left;
            }

                .post .content .postnav {
                    display: none;
                }

            .post.alt .image img {
                left: initial;
            }

            .post.alt .content {
                text-align: left;
            }

    }

    @media screen and (max-width: 736px) {

        .post .content {
            padding: 2em 1.5em 3em 1.5em;
        }

            .post .content header h2 {
                font-size: 1.75em;
            }

        .post .button {
            width: 100%;
        }

    }

    /* Footer */

	#footer {
		padding: 4em 0 2em 0;
		background-color: #1c1c1c;
        text-align: center;
        width: 100%;
	}

		#footer a {
			color: rgba(255, 255, 255, 0.75);
		}

			#footer a:hover {
				color: #fff;
			}

		#footer .copyright {
			color: rgba(255, 255, 255, 0.5);
			font-size: 0.9em;
			margin: 0 0 2em 0;
			padding: 0;
		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3em 0 1em 0;
			}

        }
        
        /* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
	}

	header p {
		color: #bbb;
    }
    
    .searchMargin{
        margin: .5em;
    }

    #id{
        height: 400px;
        width: 100%;
    }

    .heading{
        margin-bottom: 2.5em;
    }

    .img-marg{
        margin-bottom: 2em;
    }

    .text-marg{
        margin-bottom: 12em;
    }

    #address{
        margin-bottom: 2em;
    }

    #propertyInfo {
        margin-top: 4em;
    }

    #applicantInfo {
        margin-top: 2em;
    }

    .map-spacer{
        margin-top: 1em;
    }

    .btn-xl{
        padding: 0.5rem 1rem;
        font-size: 2.25rem;
        line-height: 2.5;
        border-radius: 0.3rem;
    }

    .item {
        border-radius: 15px;
        background: #fff;
        margin: 20px;
        padding: 34px;
        }
    #map {
        position: fixed !important;
        margin-left:40px;
        height: 830px;
        width: 45%;
        border-radius: 15px;    
    }

    .descMargin {
        margin-left: 0.6em;
        margin-top: 0.46em;
    }

    .item:hover {
        border-color: #1abc9c !important;
    }
 