@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,700,300italic,700italic");
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
footer,
header,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

/* Grid */

.row {
    border-bottom: solid 1px transparent;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #444;
}

body,
input,
select,
textarea {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.75;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.25;
    margin: 0 0 1em 0;
}

h1 {
    font-size: 2.35em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.35em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

input,
select,
textarea {
    color: #555;
}

/* Box */

.box {
    border-radius: 0;
    border: solid 1px;
    margin-bottom: 2em;
    padding: 1.5em;
}

.box> :last-child,
.box> :last-child> :last-child,
.box> :last-child> :last-child> :last-child {
    margin-bottom: 0;
}

.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}

.box {
    border-color: rgba(144, 144, 144, 0.25);
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 3em;
    line-height: 3em;
    padding: 0 2.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

button:hover,
.button:hover {
    text-decoration: none;
}

button.icon,
.button.icon {
    padding-left: 1.35em;
}

button.icon:before,
.button.icon:before {
    margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
    font-size: 0.8em;
}

button.big,
.button.big {
    font-size: 1.25em;
}

button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0.25;
}

@media screen and (max-width: 480px) {
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        padding: 0;
    }
}

button,
.button {
    background-color: #1abc9c;
    color: #fff !important;
}

button:hover,
.button:hover {
    background-color: #1dd2af;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
    background-color: #17a689;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
button.alt,
.button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
    color: #555 !important;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
button.alt:hover,
.button.alt:hover {
    background-color: rgba(144, 144, 144, 0.075);
}

input[type="submit"].alt:active,
input[type="reset"].alt:active,
input[type="button"].alt:active,
button.alt:active,
.button.alt:active {
    background-color: rgba(144, 144, 144, 0.2);
}

input[type="submit"].alt.icon:before,
input[type="reset"].alt.icon:before,
input[type="button"].alt.icon:before,
button.alt.icon:before,
.button.alt.icon:before {
    color: #bbb;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
    background-color: #3498db;
    color: #fff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
    background-color: #4aa3df;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
    background-color: #258cd1;
}

/* Image */

.image {
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    display: block;
}

.image.left,
.image.right {
    max-width: 40%;
}

.image.left img,
.image.right img {
    width: 100%;
}

.image.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}

/* List */

ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

/* Header */

body {
    padding-top: 4.125em;
}

#header {
    background: #1c1c1c;
    color: rgba(255, 255, 255, 0.75);
    cursor: default;
    height: 4.25em;
    left: 0;
    line-height: 4.25em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#header .logo {
    display: inline-block;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 1.25em;
    text-decoration: none;
}

#header .logo strong {
    color: inherit;
    font-weight: 700;
}

#header nav a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 0 0.75em;
    color: inherit;
    text-decoration: none;
}

}

/* Menu */

#menu {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -webkit-overflow-scrolling: touch;
    background: #1c1c1c;
    box-shadow: none;
    color: #fff;
    height: 100%;
    max-width: 80%;
    overflow-y: auto;
    padding: 3em 2em;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 20em;
    z-index: 10002;
}

/* Banner */

#banner {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    cursor: default;
    padding: 10em 4em 9em 4em;
}

/* Main */

#main {
    padding: 4em 0 2em 0;
}

#main .inner {
    max-width: 60em;
    margin: 0 auto;
}

#main .inner header p {
    font-size: 1em;
    font-style: italic;
    border-top: 1px solid rgba(144, 144, 144, 0.25);
    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
    padding: .5em 0;
}

.post {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-flex-align: stretch;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    -ms-flex-pack: end;
    min-height: -webkit-calc(100vh - 4.25em);
    min-height: -moz-calc(100vh - 4.25em);
    min-height: calc(100vh - 4.25em);
    position: relative;
}

body.is-ie .post {
    min-height: 0;
}

.post .content {
    -moz-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    width: 50%;
    display: block;
    padding: 8em;
    text-align: right;
    position: relative;
}

.post .content:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */
}

.post .content .inner {
    display: inline-block;
    vertical-align: middle;
}

.post .content header h2 {
    font-size: 2.35em;
}

.post .content header p {
    font-size: 1em;
    font-style: italic;
    border-top: 1px solid rgba(144, 144, 144, 0.25);
    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
    padding: .5em 0;
}

.post .content .button {
    margin: 0;
}

.post .content .postnav {
    position: absolute;
    left: 2em;
    bottom: 2em;
}

.post .content .postnav .prev,
.post .content .postnav .next {
    text-decoration: none;
    display: block;
    border: 1px solid rgba(144, 144, 144, 0.25);
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
}

.post .content .postnav .prev:hover,
.post .content .postnav .next:hover {
    background: rgba(144, 144, 144, 0.075);
}

.post .content .postnav .prev.disabled,
.post .content .postnav .next.disabled {
    color: #bbb;
    pointer-events: none;
}

.post .content .postnav .prev {
    border-bottom: none;
}

.post .image {
    -ms-flex-order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    width: 50%;
    display: block;
    margin: 0;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.post .image img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    display: none;
}

.post.alt .content {
    -ms-flex-order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    text-align: left;
}

.post.alt .content .postnav {
    right: 2em;
    left: initial;
}

@media screen and (max-width: 1280px) {
    .post.alt .content .postnav {
        right: 1em;
    }
}

.post.alt .image {
    -ms-flex-order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
}

.post.alt .image img {
    right: initial;
    left: 0;
}

.post.style1 {
    background-color: #fff;
    color: #444;
}

.post.style2 {
    background-color: rgb(182, 146, 255);
    color: #444;
}

.post.style1 strong,
.post.style1 b {
    color: #000000;
}

.post.style1 h1,
.post.style1 h2,
.post.style1 h3,
.post.style1 h4,
.post.style1 h5,
.post.style1 h6 {
    color: #000000;
}

.post.style1 .button {
    background-color: #000000;
    color: #fff !important;
}

.post.style1 button.alt,
.post.style1 .button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
    color: #000000 !important;
}

.post.style1 button.alt:hover,
.post.style1 .button.alt:hover {
    background-color: rgba(144, 144, 144, 0.075);
}

.post.style1 button.alt:active,
.post.style1 .button.alt:active {
    background-color: rgba(144, 144, 144, 0.2);
}

.post.style1 button.alt.icon:before,
.post.style1 .button.alt.icon:before {
    color: #bbb;
}

/* Footer */

#footer {
    padding: 4em 0 2em 0;
    background: #1c1c1c;
    text-align: center;
}

#footer a {
    color: rgba(255, 255, 255, 0.75);
}

#footer a:hover {
    color: #fff;
}

#footer .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9em;
    margin: 0 0 2em 0;
    padding: 0;
}

@media screen and (max-width: 736px) {
    #footer {
        padding: 3em 0 1em 0;
    }
}

/* misc */
#banner{
	padding-top: 420px;
	padding-bottom: 420px;
}